<a href="https://colab.research.google.com/github/johnsamie54/john-project/blob/main/Copy_of_churn_modelling6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/grive")

Drive already mounted at /content/grive; to attempt to forcibly remount, call drive.mount("/content/grive", force_remount=True).

In [2]:
#importing various libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action="ignore")

In [3]:
#reading the dataset
data=pd.read_csv("/content/grive/MyDrive/Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data.shape

(10000, 14)

In [5]:
#feature engeneering
data.drop(["RowNumber","CustomerId","Surname"],axis=1,inplace=True)

In [6]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [7]:
data[["Gender"]]=data[["Gender"]].apply(LabelEncoder().fit_transform)

In [8]:
data.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [9]:
#oone hot encoding for the Geograpy column
df=data["Geography"]
df=pd.DataFrame(data=data,columns=["Geography"])
dummies=pd.get_dummies(df,columns=["Geography"])
data.drop("Geography",axis=1,inplace=True)
data=data.join(dummies)

In [10]:
data.head(3)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0

In [11]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler() 
df_train=scaler.fit_transform(data)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Gender             10000 non-null  int64
 2   Age                10000 non-null  int64
 3   Tenure             10000 non-null  int64
 4   Balance            10000 non-null  float64
 5   NumOfProducts      10000 non-null  int64
 6   HasCrCard          10000 non-null  int64
 7   IsActiveMember     10000 non-null  int64
 8   EstimatedSalary    10000 non-null  float64
 9   Exited             10000 non-null  int64
 10  Geography_France   10000 non-null  uint8
 11  Geography_Germany  10000 non-null  uint8
 12  Geography_Spain    10000 non-null  uint8
dtypes: float64(2), int64(8), uint8(3)
memory usage: 810.7 KB

In [13]:
data["Geography_France"]=data["Geography_France"].astype('int64')
data["Geography_Germany"]=data["Geography_Germany"].astype('int64')
data["Geography_Spain"]=data["Geography_Spain"].astype('int64')

In [14]:
data.shape

(10000, 13)

In [15]:
y_data=data.iloc[:,9]
x_data=data.drop("Exited",axis=1)

In [16]:
x_data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,1

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Gender             10000 non-null  int64
 2   Age                10000 non-null  int64
 3   Tenure             10000 non-null  int64
 4   Balance            10000 non-null  float64
 5   NumOfProducts      10000 non-null  int64
 6   HasCrCard          10000 non-null  int64
 7   IsActiveMember     10000 non-null  int64
 8   EstimatedSalary    10000 non-null  float64
 9   Exited             10000 non-null  int64
 10  Geography_France   10000 non-null  int64
 11  Geography_Germany  10000 non-null  int64
 12  Geography_Spain    10000 non-null  int64
dtypes: float64(2), int64(11)
memory usage: 1015.8 KB

In [18]:
print(x_data.shape)

(10000, 12)

In [19]:
#spliting data into train and test data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_data,y_data,test_size=0.2,random_state=0)

In [20]:
# Perform Hyperparameter Optimization
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

from keras.models import Sequential
from keras.layers import Dense, Activation, Embedding, Flatten, LeakyReLU, BatchNormalization, Dropout
from keras.activations import relu, sigmoid

In [21]:
def create_model(layers, activation):
    model = Sequential()
    for i, nodes in enumerate(layers):
        if i==0:
            model.add(Dense(nodes,input_dim=x_train.shape[1]))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
        else:
            model.add(Dense(nodes))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
            
    model.add(Dense(units = 1, kernel_initializer= 'glorot_uniform', activation = 'sigmoid')) # Note: no activation beyond this point
    
    model.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])
    return model

In [22]:
model = KerasClassifier(build_fn=create_model, verbose=0)

In [23]:
layers = [(20,), (40, 20),(45, 30, 15)]
activations = ['sigmoid', 'relu']
param_grid = dict(layers=layers, activation=activations, batch_size = [128, 256], epochs=[30])
grid = GridSearchCV(estimator=model, param_grid=param_grid,cv=5)

In [24]:
grid_result = grid.fit(x_train, y_train)

In [25]:
[grid_result.best_score_,grid_result.best_params_]

[0.7959999918937684,
 {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 30, 'layers': (20,)}]

In [26]:
pred_y = grid.predict(x_test)
y_pred = (pred_y > 0.5)

63/63 [==============================] - 0s 1ms/step

In [27]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [28]:
cm =confusion_matrix(y_pred, y_test)
score = accuracy_score(y_pred, y_test)
print(score)

0.7975